name: Container Builder Shim - PR/merge build

permissions:
  contents: read

on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main
      - release/*

jobs:
  build:
    name: Invoke build
    uses: ./.github/workflows/common.yml
  image: 
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Login to GitHub container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up docker-buildx
        uses: docker/setup-buildx-action@v3
      - name: Build image to tar
        uses: docker/build-push-action@v6
        with:
          platforms: linux/arm64
          push: false
          tags: ghcr.io/apple/container-builder-shim/builder:test
          outputs: type=oci,dest=container-builder-shim.tar
      - name: Save artifacts
        uses: actions/upload-artifact@v4
        with:
          name: container-builder-shim
          path: container-builder-shim.tar
