name: Container Builder Shim - common jobs

permissions:
  contents: read

on:
  workflow_call:

jobs:
  build:
    runs-on: [self-hosted, macos, tahoe, ARM64]
    timeout-minutes: 30
    steps: 
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.2'
      - name: Checkout repository
        uses: actions/checkout@v4 
        with:
          fetch-depth: 0
      - name: Check formatting
        run: | 
          ./scripts/install-hawkeye.sh
          make fmt
          git diff
          if ! git diff --quiet ; then echo the following files require formatting or license headers: ; git diff --name-only ; false ; fi
      - name: Check protobufs 
        run: | 
          make go-protos
          if ! git diff --quiet ; then echo the following files require formatting or license headers: ; git diff --name-only ; false ; fi
      - name: Build
        run: |
          make build
      - name: Test
        run: |
          make test
