name: Container Builder Shim - release build

permissions:
  contents: read

on:
  push:
    tags:
      - "[0-9]+\\.[0-9]+\\.[0-9]+"

jobs:
  build:
    if: startsWith(github.ref, 'refs/tags/')
    name: Invoke build and release
    uses: ./.github/workflows/common.yml
    permissions:
      contents: read
  image: 
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      packages: write
    steps:
      - name: Login to GitHub container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up docker-buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Dockerfile and push image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/arm64
          push: true
          tags: ghcr.io/apple/container-builder-shim/builder:${{ github.ref_name }}